@charset "utf-8";

$button-disabled-border-color: none;

.image {
  img {
    // width: 100px;
    // height: 100px;
    object-fit: cover;
    // border-radius: 50%;
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentSlideIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes contentSlideOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@import "bulma/bulma";
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/components/menu.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/elements/table.sass";
